#home {
    .name {
        font-size: medium;
    }

    nav {
        background-color: #f2f2f2;
        line-height: 4rem;
        position: sticky;
    }

    a {
        padding: 0 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        color: black;
        font-weight: 600;
    }

    img {
        width: 2rem;
        vertical-align: middle;
    }
}
